@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div>
        <br />
        <h1>Conversor de monedas:</h1>
        <div class="horizontal">
            <p>Moneda origen: </p>
            <input type="text" name="MonedaOrigen" id="monedaOrigen" placeholder="Moneda origen" />
        </div>
        <div class="horizontal">
            <p>Moneda destino: </p>
            <input type="text" name="MonedaDestino" id="monedaDestino" placeholder="Moneda destino" />
        </div>
        <div class="horizontal">
            <p>Importe: </p>
            <input type="text" name="Importe" id="importe" placeholder="Importe" />
        </div>
        <div>
            <button id="modifyButton" onclick="Convertir()">Convertir</button>
        </div>
        <div class="horizontal">
            <p id="resultado"> Resultado: 0</p>
        </div>
    </div>
    <div>
        <h1>Lista de monedas: </h1>
        @foreach (var moneda in ViewBag.lista)
        {
            <div class="horizontal">
                <img src="@Html.Raw("https://www.countryflagicons.com/SHINY/32/" + @moneda.Codigo.Substring(0,2) + ".png")">
                <p>@moneda.IdMoneda</p>
                <p>@moneda.Codigo</p>
                <p>@moneda.Nombre</p>
            </div>
        }
    </div>



</div>

<script>
    function Convertir() {
        let origen = document.getElementById("monedaOrigen").value;
        let destino = document.getElementById("monedaDestino").value;
        let importe = document.getElementById("importe").value;

        $.ajax({
            url: '@Url.Action("RealizarConversion", "Home")',
            type: 'POST',
            data: {
                importeInput: importe,
                codigoMonedaOrigen: origen,
                codigoMonedaDestino: destino
            },
            success: function (data) {
                actualizarResultadoEnPagina(data);
            },
            error: function () {
                alert('Error en la llamada AJAX');
            }
        });
    }
    function actualizarResultadoEnPagina(resultadoConversion) {
        document.getElementById("resultado").innerText = "Resultado: " + resultadoConversion;
    }
</script>
